.csm-img-background{
    background-image: url("../img/background-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.csm-img-logo{
    height: 180px;
    width: 180px;
    margin-bottom: 20px;
}

.hidetext{
    -webkit-text-security: circle;
}

.csm-color-success{
    color: #1ab394;
}
.csm-color-info{
    color: #23c6c8;
}
.csm-color-warning{
    color: #f8ac59;
}
.csm-color-danger{
    color: #ed5565;
}